$raincloud: #0085c3;
$bamboo: #7ab800;
$sunset: #f99104;
$orange: #dc5034;
$arterial: #ce1126;
$pomegranate: #b7295a;
$eggplant: #6e2585;
$pastel: #6e2585;
$hamburg: #5482ab;
$power: #444444;
$bone: #eeeeee;
